autosave/
auto-save-list/
backup/
elpa/
eshell/history
eshell/lastdir
games/
history
url/
gitignore.old
ido.last*
nov-places
tramp
*.elc
.yas-compiled-snippets.el*
image-dired/
old/20201119_old/
elisp/custom.el
custom.el
.custom.el
