*history*
*ido.last*
*.elc
*.yas-compiled-snippets.el*
eshell/
!eshell/alias
autosave/
auto-save-list/
backup/
elpa/
games/
url/
idlwave
nov-places
tramp
image-dired/
old/20201119_old/
elisp/custom.el
custom.el
.custom.el
package-quickstart.el
.#*
local
*personal*
