*history*
*ido.last*
*.elc
*.yas-compiled-snippets.el*

eshell/
!eshell/alias

autosave/
auto-save-list/
backup/
elpa/
games/
url/
transient/
image-dired/
old/

idlwave
nov-places
tramp

*custom.el*
package-quickstart.el
.#*
local
*personal*
.emacs.desktop

bookmarks

*.gpg
*.org
emacs-desktop
recentf.txt
